@model WMS.ServicesInterface.DTOs.StatisticsDto

@{
    ViewBag.Title = "Statystyki";
}

<h2>Statystyki</h2>

<ul id="stats">
    <li>Liczba magazynów: <p>@Model.WarehousesCount</p></li>
    <li>Liczba partnerów: <p>@Model.PartnersCount</p></li>
    <li>Liczba produktów: <p>@Model.ProductsCount</p></li>
    <li>Liczba partii: <p>@Model.GroupsCount</p></li>
    <li>Liczba przesunięć: <p>@Model.ShiftsCount</p></li>
    <li>Zapełnienie magazynów: <p>@Model.FIllRate%</p></li>
</ul>