@model WMS.ServicesInterface.DTOs.PartnerDto
@using WMS.ServicesInterface;

@{
    ViewBag.Title = "Magazyn " + Model.Name;
}

@if (ViewBag.Permissions <= PermissionLevel.Manager)
{
    <p>
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="button">Edytuj</a>
    </p>
}
<h2>Partner '@Model.Name'</h2>

<fieldset>
    <legend>Informacja o partnerze</legend>
    <ol>
        <li>
            @Html.LabelFor(model => model.Name)
            @Html.ValueFor(model => model.Name)
        </li>
        <li>
            @Html.LabelFor(model => model.City)
            @Html.ValueFor(model => model.City)
        </li>
        <li>
            @Html.LabelFor(model => model.Code)
            @Html.ValueFor(model => model.Code)
        </li>
        <li>
            @Html.LabelFor(model => model.Street)
            @Html.ValueFor(model => model.Street)
        </li>
        <li>
            @Html.LabelFor(model => model.Num)
            @Html.ValueFor(model => model.Num)
        </li>
        <li>
            @Html.LabelFor(model => model.Tel)
            @Html.ValueFor(model => model.Tel)
        </li>
        <li>
            @Html.LabelFor(model => model.Mail)
            @Html.ValueFor(model => model.Mail)
        </li>
    </ol>
</fieldset>
